  <form id="choicesForm" method="POST" action="menu">
      <div class="form-group row" id="appetizers">
        <div class="col-2">
          <h2 class="chooseTitles">Step 1: Choose Your Appetizer:</h2>
        </div>
      <% appetizer.forEach((result) => { %>
        <div class="col-2">
          <div class="form-group row">
            <h4 class="recipeTitle"><%= result.title %></h4> 
          </div>
          <div class="form-group row">
            <input type="radio" name="appetizerInfo" value="<%= result.title %> | <%=result.href %> | <%= result.thumbnail %>"/> 
          </div>
          <div class="form-group row">
            <img id="appPic" src="<%= result.thumbnail %>"/>
          </div>
          <div class="form-group row">
            <button class="modalButton modalButtonEvent">View Recipe</button>
            <div class="modalWindow">
              <div class="modalContent">
                <span class="closeModal">&times;</span>
                <iframe data-target="<%= result.href %>" src="" name="appetizerIFrame" title="Recipe Opened in New Webpage" height="600px" width="600px"></iframe> 
              </div>
            </div>
          </div>
        </div>
                <% }); %>
        <div class="col-2">
          <div class="form-group row">
            <h4 class="noPick">No appetizer.</h4>
          </div>
          <div class="form-group row">
            <input type="radio" name="appetizerInfo" value="There is no appetizer on this menu." checked>
          </div>  
        </div>
      </div>
      <div class="form-group row" id="mains">
        <div class="col-2">
          <h2 class="chooseTitles">Step 2: Choose Your Main Course:</h2>
        </div>
      <% main.forEach((result) => { %>
        <div class="col-2">
          <div class="form-group row">
            <h4 class="recipeTitle"><%= result.title %></h4>
          </div>
          <div class="form-group row"> 
            <input type="radio" name="mainCourseInfo" value="<%= result.title %> | <%=result.href %> | <%= result.thumbnail %>"/> 
          </div> 
          <div class="form-group row">
            <img id="mainPic" src="<%= result.thumbnail %>">
          </div> 
          <div class="form-group row">
            <button class="modalButton modalButtonEvent">View Recipe</button>
            <div class="modalWindow">
              <div class="modalContent">
                <span class="closeModal">&times;</span>
                <iframe data-target="<%= result.href %>" src="" name="mainIFrame" title="Recipe Opened in New Webpage" height="600px" width="600px"></iframe> 
              </div>
            </div>
        </div> 
      </div>
        <% }) %>
      <div class="col-2">
        <div class="form-group row">
          <h4 class="noPick">No main course.</h4>
        </div>
        <div class="form-group row">
          <input type="radio" name="mainCourseInfo" value="There is no main course on this menu." checked>
        </div>
      </div>
    </div>
    <div class="form-group row" id="sides">
      <div class="col-2">
        <h2 class="chooseTitles">Step 3: Choose Your Side Dish:</h2>
      </div>
    <% side.forEach((result) => { %>
      <div class="col-2">
        <div class="form-group row">
          <h4 class="recipeTitle"><%= result.title %></h4>
        </div>
        <div class="form-group row">
          <input type="radio" name="sideDishInfo" value="<%= result.title %> | <%=result.href %> | <%= result.thumbnail %>"/>  
        </div>
        <div class="form-group row">
          <img id="sidePic" src="<%= result.thumbnail %>">
        </div>
        <div class="form-group row">
          <button class="modalButton modalButtonEvent">View Recipe</button>
          <div class="modalWindow">
            <div class="modalContent">
              <span class="closeModal">&times;</span>
              <iframe data-target="<%= result.href %>" src="" name="sideIFrame" title="Recipe Opened in New Webpage" height="600px" width="600px"></iframe> 
            </div>
          </div>
        </div>
      </div>  
          <% }) %>
      <div class="col-2">
        <div class="form-group row">
          <h4 class="noPick">No side dish.</h4>
        </div>
        <div class="form-group row">
          <input type="radio" name="sideDishInfo" value="There is no side dish on this menu." checked>
        </div>
      </div>
    </div>
    <div class="form-group row" id="desserts">
      <div class="col-2">
        <h2 class="chooseTitles">Step 4: Choose Your Dessert:</h2>
      </div>
    <% dessert.forEach((result) => { %>
      <div class="col-2">
        <div class="form-group row">
          <h4 class="recipeTitle"><%= result.title %></h4>
        </div>
        <div class="form-group row">
          <input type="radio" name="dessertInfo" value="<%= result.title %> | <%=result.href %> | <%= result.thumbnail %>"/>  
        </div>
        <div class="form-group row">
          <img id="dessertPic" src="<%= result.thumbnail %>">
        </div>
        <div class="form-group row">
          <button class="modalButton modalButtonEvent">View Recipe</button>
          <div class="modalWindow">
            <div class="modalContent">
              <span class="closeModal">&times;</span>
              <iframe data-target="<%= result.href %>" src="" name="dessertIFrame" title="Recipe Opened in New Webpage" height="600px" width="600px"></iframe> 
            </div>
          </div>
        </div>
      </div>  
          <% }) %>
      <div class="col-2">
        <div class="form-group row">
          <h4 class="noPick">No dessert.</h4>
        </div>
        <div class="form-group row">
          <input type="radio" name="dessertInfo" value="There is no dessert on this menu." checked>
        </div>
      </div>
    </div>
    <div class="form-group row" id="menuName">
      <div class="col-2">
        <h2 class="chooseTitles" id="step5">Step 5: Name Your Menu</h2>
      </div>
      <div class="col-4">
        <p class="namingDirections">Name your custom menu below (think 'Summer Dinner' or 'Bridal Shower Brunch'). Click "Add to Menu" to save your menu.</p>
      </div>
      <div class="col-2">
        <label class="namingDirections" for="menuName">Menu Name:</label>
      </div>
      <div class="col-2">
        <input type="text" name="menuName" placeholder="Menu Name" value="*"/>
      </div>
      <div class="col-2">
        <input type="submit" name="submitName" value="Add Your Menu" class="modalButton" >
      </div>
    </div>
  </form>
  <footer>
    <a class="footer" href="https://www.freepik.com/free-photos-vectors/background">Background photo created by freepik - www.freepik.com</a>
  </footer>