<h1 id="menuDisplayTitleOne">Congratulations!</h1>
<h1 class="menuDisplayTitleTwo">Here is your new menu:</h1>
<h4 class="courseTitle">Appetizer:</h4>
<p class="itemTitle"> <%= currentAppetizer[0] %> </p>
<img class="foodPicture" src="<%= currentAppetizer[2] %>">
<div class="row">
  <div class="col-2">
    <button class="modalButton modalButtonEvent">View Recipe</button>
    <div class="modalWindow">
      <div class="modalContent">
        <span class="closeModal">&times;</span>
        <iframe data-target="<%= currentAppetizer[1] %>" src="" name="appetizerIFrame" title="Recipe Opened in New Webpage" height="600px" width="600px"></iframe> 
      </div>
    </div>
  </div>
  <div class="col-2">
    <form method="POST" action="favorites">
      <input type="hidden" name="favoriteInfo" value="<%= currentAppetizer[0] %> | <%= currentAppetizer[1] %> | <%= currentAppetizer[2] %>">
      <input type="submit" value="Save to Favorites" class="modalButton">
    </form>
  </div>
</div>
<h4 class="courseTitle">Main Course:</h4>
<p class="itemTitle"><%= currentMain[0] %></p>
<img class="foodPicture" src="<%= currentMain[2] %>">
<div class="row">
  <div class="col-2">
    <button class="modalButton modalButtonEvent">View Recipe</button>
    <div class="modalWindow">
      <div class="modalContent">
        <span class="closeModal">&times;</span>
        <iframe data-target="<%= currentMain[1] %>" src="" name="appetizerIFrame" title="Recipe Opened in New Webpage" height="600px" width="600px"></iframe> 
      </div>
    </div>
  </div>
  <div class="col-2">
    <form method="POST" action="favorites">
      <input type="hidden" name="favoriteInfo" value="<%= currentMain[0] %> | <%= currentMain[1] %> | <%= currentMain[2] %>">
      <input type="submit" value="Save to Favorites" class="modalButton">
    </form>
  </div>
</div>
<h4 class="courseTitle">Side Dish:</h4>
<p class="itemTitle"><%= currentSide[0] %> </p>
<img class="foodPicture" src="<%= currentSide[2] %>">
<div class="row">
  <div class="col-2">
    <button class="modalButton modalButtonEvent">View Recipe</button>
    <div class="modalWindow">
      <div class="modalContent">
        <span class="closeModal">&times;</span>
        <iframe data-target="<%= currentSide[1] %>" src="" name="appetizerIFrame" title="Recipe Opened in New Webpage" height="600px" width="600px"></iframe> 
      </div>
    </div>
  </div>
  <div class="col-2">
    <form method="POST" action="favorites">
      <input type="hidden" name="favoriteInfo" value="<%= currentSide[0] %> | <%= currentSide[1] %> | <%= currentSide[2] %>">
      <input type="submit" value="Save to Favorites" class="modalButton">
    </form>
  </div>
</div>
<h4 class="courseTitle">Dessert:</h4>
<p class="itemTitle"><%= currentDessert[0] %></p>
<img class="foodPicture" src="<%= currentDessert[2] %>">
<div class="row">
  <div class="col-2">
    <button class="modalButton modalButtonEvent">View Recipe</button>
    <div class="modalWindow">
      <div class="modalContent">
        <span class="closeModal">&times;</span>
        <iframe data-target="<%= currentDessert[1] %>" src="" name="appetizerIFrame" title="Recipe Opened in New Webpage" height="600px" width="600px"></iframe> 
      </div>
    </div>
  </div>
  <div class="col-2">
    <form method="POST" action="favorites">
      <input type="hidden" name="favoriteInfo" value="<%= currentDessert[0] %> | <%= currentDessert[1] %> | <%= currentDessert[2] %>">
      <input type="submit" value="Save to Favorites" class="modalButton">
    </form>
  </div>
</div>
<footer>
  <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by tirachard - www.freepik.com</a>
</footer>

