<h1>Welcome to Your Menu</h1>
<div id=chosenAppetizer>
  <h4>Appetizer:</h4>
    <p><%= appetizer.appTitle %></p>
    <a href="<%= appetizer.appURL %>">Click to View Recipe</a>
    <img src="<%= appetizer.appPic %>">
</div>
<div id=chosenMain>
  <h4>Main Course:</h4>
    <p><%= main.mainTitle %></p>
    <a href="<%= main.mainURL %>">Click to View Recipe</a>
    <img src="<%= main.mainPic %>">
</div>
<div id=chosenSide>
  <h4>Side Dish:</h4>
    <p><%= side.sideTitle %></p>
    <a href="<%= side.sideURL %>">Click to View Recipe</a>
    <img src="<%= side.sidePic %>">
</div>
<div id="chosenDessert">
  <h4>Dessert:</h4>
    <p><%= dessert.dessertTitle %></p>
    <a href="<%= dessert.dessertURL %>">Click to View Recipe</a>
    <img src="<%= dessert.dessertPic %>">
</div>

