<h2>Choose Your Main Course:</h2>

  <p><% mainCourse.results.forEach((result) => { %>
    <p id="mainTitle"><%= result.title %></p>
    <a id="mainURL" href="<%= result.href %>">Click to View Full Recipe</a></p>
    <img id="mainPic" src="<%= result.thumbnail %>">
    <form method="POST" action="./menu">
      <input type="hidden" name="mainTitle" value="<%= result.title %>">
      <input type="hidden" name="mainURL" value="<%= result.href %>">
      <input type="hidden" name="mainPic" value="<%= result.thumbnail %>">
      <button type="Submit">Add to Menu</button> 
    </form>
  <% }) %>
  </p>  
